<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.coding.dao.UserDAO">

	<!-- 회원가입 -->
	<insert id='insertUser' parameterType="UserVO">
		INSERT INTO USER( user_id, user_name, user_pass, user_tel, user_email, user_addr, user_gender
                        , user_age ,user_prefer_type1, user_prefer_type2, user_prefer_type3
                        , user_prefer_loc1, user_prefer_loc2, user_prefer_loc3
                        , admin_authority, user_register_date )
		VALUES(#{user_id}, #{user_name}, #{user_pass}, #{user_tel}, #{user_email}, #{user_addr}, #{user_gender}
            , #{user_age}, #{user_prefer_type1}, #{user_prefer_type2}, #{user_prefer_type3}
            , #{user_prefer_loc1}, #{user_prefer_loc2}, #{user_prefer_loc3}, 1, NOW() )
	</insert>

      <!-- 아이디 중복 체크 -->
	<select id='idCheck' parameterType="string" resultType="int">
            SELECT COUNT(*)  cnt
            FROM USER
            WHERE user_id = #{user_id}
      </select>

      <!-- 입력한 사용자 아이디를 통해 암호화된 비밀번호 추출 -->
	<select id='passCheck' parameterType="UserVO" resultType="UserVO">
            SELECT *
            FROM USER
            WHERE user_id = #{user_id}
	</select>

      <!-- 사용자 로그인 검증 -->
	<select id='loginCheck' parameterType="UserVO" resultType="UserVO">
            SELECT *
            FROM USER
            WHERE user_id = #{user_id} AND user_pass = #{user_pass}
	</select>

      <!-- 소셜 로그인 검증 -->
      <select id='socialLoginCheck' parameterType="String" resultType="UserVO">
            SELECT *
            FROM USER
            WHERE user_id = #{user_id}
	</select>

      <!-- 아이디 찾기
        explain => type = ref
      -->
      <select id='findUserid' parameterType="String" resultType="String">
            SELECT user_id
            FROM USER
            WHERE user_email = #{user_email}
	</select>

      <!-- 인증메일 발송을 위한 사용자 체크
        explain => type = ref
      -->
	<select id='selectUser' parameterType="String" resultType="UserVO">
            SELECT *
            FROM USER
            WHERE user_email = #{user_email} AND user_id = #{user_id}
      </select>

      <!-- 인증 후 비밀번호 초기화(변경) -->
      <update id="modifyPassword" parameterType="UserVO">
		UPDATE user
		SET user_pass = #{user_pass}
		WHERE user_email = #{user_email} AND user_id = #{user_id}
	</update>


</mapper>